#RTOS_MT6816_FW
/3.Firmware/RTOS_MT6816_FW/USB_Uart_Cmd
/3.Firmware/RTOS_MT6816_FW/.idea
/3.Firmware/RTOS_MT6816_FW/cmake-build-debug-mingw_stm32
/3.Firmware/RTOS_MT6816_FW/build


#UART_TEST_FW
/3.Firmware/UART_TEST_FW/.idea
/3.Firmware/UART_TEST_FW/cmake-build-debug-mingw_stm32
/3.Firmware/UART_TEST_FW/build