#Vscode
/.vscode

#RTOS_MT6816_FW
/3.Firmware/RTOS_MT6816_FW/USB_Uart_Cmd
/3.Firmware/RTOS_MT6816_FW/.idea
/3.Firmware/RTOS_MT6816_FW/cmake-build-debug-mingw_stm32
/3.Firmware/RTOS_MT6816_FW/build
/3.Firmware/RTOS_MT6816_FW/HelloWord-Dynamic-fw
/3.Firmware/RTOS_MT6816_FW/Ctrl-Step-Driver-STM32F1-fw

#UART_TEST_FW
/3.Firmware/UART_TEST_FW/.idea
/3.Firmware/UART_TEST_FW/cmake-build-debug-mingw_stm32
/3.Firmware/UART_TEST_FW/build

#XHFOC_STM32G4_FW
/3.Firmware/XHFOC_STM32G4_FW/.idea
/3.Firmware/XHFOC_STM32G4_FW/cmake-build-debug-mingw_stm32
/3.Firmware/XHFOC_STM32G4_FW/build
/3.Firmware/XHFOC_STM32G4_FW/HelloWord-Dynamic-fw
/3.Firmware/XHFOC_STM32G4_FW/Ctrl-Step-Driver-STM32F1-fw

#XHFOC_STM32G474_FW
/3.Firmware/XHFOC_STM32G474_FW/.idea
/3.Firmware/XHFOC_STM32G474_FW/cmake-build-debug-mingw_stm32
/3.Firmware/XHFOC_STM32G474_FW/build
/3.Firmware/XHFOC_STM32G474_FW/HelloWord-Dynamic-fw
/3.Firmware/XHFOC_STM32G474_FW/Ctrl-Step-Driver-STM32F1-fw

#CLI-Tool
/4.Software/CLI-Tool/.idea
/4.Software/CLI-Tool/.ipython
/4.Software/CLI-Tool/venv

#References
/0.References/FOC